/* *, */
html,
body,
main,
h1,
figure,
img,
p,
button,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

#main-content {
    padding: 20px 150px;
}

.title1 {
    margin-top: 150px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
    font-weight: 700;
    font-family: 'Lora', serif !important;
}

.figure {
    text-align: center;
}

.figure.mentions img {
    width: 30%;
    min-width: 320px;
    margin-bottom: 30px;
}

p.para {
    font-size: 18px;
    color: #333333;
    margin: 0 150px 30px;
    min-width: 320px;
}

p.para.center {
    text-align: center;
}

#retour {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    border: 1px solid #ed8b53;
    border-radius: 10px;
    background: #ed8b53;

}

#retour:hover {
    color: white;
    background: #5ec1b9;
    border: 1px solid #5ec1b9;
}

#retour a {
    font-size: 18px;
    text-decoration: none;
    color: white
}

.blog {
    color: #ed8b53;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
}

@media screen and (max-width: 768px) {
    .blog {
        text-align: center;
        margin: 0 30px;
    }

}