/* *, */
html,
body,
footer,
ul,
li,
a,
div,
figure,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}


footer {
    bottom: 0;
    margin-top: 30px;
    height: 50px;
    width: 100%;
    /* padding: 0 100px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-image: url(../assets/img/main/graphismefootergauche.svg);
    background-repeat: no-repeat; */
}

footer.absolute {
    position: absolute;
}

footer>ul {
    list-style: none;
}

footer>ul>li>a {
    text-decoration: none;
    color: #cccccc;
    font-weight: 700;
}


figure.reseaux {
    width: 30px;
    float: right;
    margin-left: 10px;
}

footer #graphismefootergauche {max-height: 50px;
padding: 0}

@media screen and (max-width: 767px) {
    footer {
        margin-bottom: 10px;
        padding: 10px 10px
    }
}