/* *, */
html,
body,
footer,
ul,
li,
a,
div,
figure,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

footer {
    bottom: 0;
    padding: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer.absolute {
    position: absolute;
}

footer>ul {
    list-style: none;
}

footer>ul>li>a {
    text-decoration: none;
    color: #cccccc;
    font-weight: 700;
}


figure.reseaux {
    width: 30px;
    float: right;
    margin-left: 10px;
}

.insta{
    width: 30px;
    height: 30px;
}

footer #graphismefootergauche {max-height: 50px;
padding: 0}

@media screen and (max-width: 767px) {
    footer {

        margin-bottom: 10px;
        padding: 30px 15px
    }
}