* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 700;
}

.bolditalic {
    font-weight: 700;
    font-style: italic;
}

.container {
    margin: 20px 20%;
    width: 80%
}

.titre {
    font-style: italic;
    font-size: 36px;
    color: #ccc;
    font-family: 'Lora', serif !important;
}

p {
    font-size: 18px;
    text-align: justify;
    margin-top: 25px;
    font-size: 18px;
}

article {
    display: flex;
    justify-content: center;
}

article#training {
    align-items: center;
    min-height: 250px;
}

article#flower {
    align-items: center;
}

article#difference {
    margin: 100px 0;
}

article#partners {
    margin-bottom: 50px
}

div#companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* XL + L */
@media screen and (min-width: 1024px) {

    /* POSTER */
    article#poster figure#bigposter img {
        max-width: 1000px;
        margin-top: 150px
    }

    article#poster figure#smallposter img {
        display: none
    }

    /* TRAINING */
    article#training {
        margin-top: 25px;
    }

    /* APPROACH */
    article#approach {
        flex-wrap: wrap;
        justify-content: center;
    }
    article#approach img.big {
        max-width: 1000px;
        margin-top: 150px;
        display: flex;
        align-items: center
    }

    article#approach img.small {
        display: none
    }

    /* PARTNERS */
    article#partners div#companies figure {
        margin: 75px 5% 0 0;
        height: 104px;
        max-width: 154px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    div#companies {
        flex-direction: row;
        margin-top: 25px;
    }

    div#companies figure:last-child {
        margin-right: 0
    }
}

/* M */

@media screen and (max-width: 1023px) and (min-width: 769px) {

    /* POSTER */
    article#poster figure#bigposter img {
        max-width: 700px;
        margin-top: 150px
    }

    article#poster figure#smallposter img {
        display: none;
    }

    /* TRAINING */
    article#training {
        margin-top: 50px
    }

    /* APPROACH */
    article#approach {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    article#approach img.big {
        max-width: 700px;
        margin-top: 100px;
    }

    article#approach img.small {
        display: none
    }

    /* PARTNERS */
    article#partners div.container {
        margin: 0 0 0 20%;
        width: 80%
    }

    article#partners div#companies {
        flex-direction: row;
        width: 90%
    }

    article#partners div#companies figure {
        margin: 25px 1% 0 0;
        height: 104px;
        max-width: 154px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    article#partners div#companies figure:last-child {
        margin-right: 0
    }
}

/* S + XS */
@media screen and (max-width: 768px) {
    /* TEXT AREAS */
    .titre {
        font-style: italic;
        font-size: 30px;
        color: #ccc;
    }

    p {
        font-size: 14px;
        text-align: justify;
        margin-top: 25px;
    }

    /* POSTER */
    article#poster figure#bigposter img {
        display: none;
    }

    article#poster figure#smallposter {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    article#poster figure#smallposter img {
        max-width: 75%;
        margin-top: 150px
    }

    /* APPROACH */
    article#approach img.big {
        display: none
    }

    article#approach img.small {
        margin-top: 50px;
        max-width: 90%
    }

    article#approach img.small:last-child {
        max-width: 70%
    }

    article#approach {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    /* PARTNERS */

    article#partners {
        margin-bottom: 25px
    }

    article#partners div#companies {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    article#partners div#companies figure {
        margin: 25px 0
    }

    article#partners div#companies figure:first-child {
        margin: 50px 0
    }

}