* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 700;
}

.bolditalic {
    font-weight: 700;
    font-style: italic;
}

div.container {
    margin: 20px 20%;
}

h1+h2 {
    font-style: italic;
    font-size: 36px;
    color: #ccc
}

p {
    font-size: 18px;
    text-align: justify;
    margin-top: 25px;
    font-size: 18px
}

article {
    display: flex;
}

article#training {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    margin-top: 200px
}

article#training img {
    align-items: center;
    margin: 15px 0 100px 0
}

article#approach {
    max-width: 1280px;
    justify-content: center;
}

article#difference {
    justify-content: center;
    margin: 100px 0;
}

article#partners {
    margin-bottom: 125px
}

div#companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#companies figure {
    margin: 75px 100px 0 0 ; 
    max-width: 154px;
    flex-wrap: wrap;
    height: 104px
}

 /* div#companies figure:nth-child(2n) {
    border: black solid 2px;
}  */


/*ordi grand écran : 1280px et plus
pc portable en général : 1279px à 1024px (ipad pro)
petit pc portable grande tablette : 1023px à 768px (ipad)
petite tablette grand smartphone : 767px à 481px
petit smartphone : 480px et moins (iphone 4 plus = 320px
*/


/* BEHOLD THE VALLEY OF MEDIA QUERY HELLDOM */

@media screen and (min-width: 1280px) {

    /* POSTER 1 */
    article#poster figure#big img {
        max-width: 1000px;
        justify-content: center;
        margin-top: 150px
    }

    article#poster figure#small img {
        display: none
    }

    /* POSTER 2 */
    article#approach img#big {
        max-width: 1000px;
        justify-content: center;
        margin-top: 150px;
    }

    article#approach img#small {
        display: none
    }


   
}


@media screen and (max-width: 1023px) {

    article#poster figure#big img {
        max-width: 1000px;
        justify-content: center;
        margin-top: 150px
    }

    article#poster figure#small img {
        display: none
    }

    article#approach img#big {
        max-width: 1000px;
        justify-content: center;
        margin-top: 150px;
    }

    article#approach img#small {
        display: none
    }

   
}


@media screen and (max-width: 767px) {

    article#poster figure#big img {
        display: none;
        margin-top: 150px
    }

    article#poster figure#small img {
        max-width: 700px;
        margin-top: 150px
    }

    article#approach img#big {
        display: none
    }

    article#approach img#small {
        max-width: 700px;
        margin-top: 150px
    }

    

}

@media screen and (max-width: 480px) {

    article#poster figure#big img {
        display: none;
        margin-top: 150px
    }

    article#poster figure#small img {
        max-width: 400px;
        margin-top: 150px
    }

    article#approach img#big {
        display: none
    }

    article#approach img#small {
        max-width: 400px;
        margin-top: 150px
    }

}